# This folder should remain empty.
/html/beta
!/html/beta/.gitkeep

# _Recursively_ ignore everything in `html/assets/{media,images}`
# except for the directories themselves
# (and the .gitkeep files that persist the directories).
# This will prevent git from trying to add a bunch of image files
# that are going to be removed soon. (These .gitignore rules
# might change once we have a stable way to manage image files.)
/html/assets/media/**
/html/assets/images/**
!/html/assets/media/**/
!/html/assets/images/**/
!/html/assets/media/**/.gitkeep
!/html/assets/images/**/.gitkeep

# This is for a directory to test code and various things outside of version control 
/html/scratch-pad/**
!/html/scratch-pad/.gitkeep

# Ignore visual studio folder
/.vs/**

# Ignore backup files
#
# These are usually made by text editors or IDEs, but you can use these
# extensions manually to evict temporary backups from the git tree.
#
# Exception: Some of the files in the `meta` folder might be considered
# to be "backups" in some sense (ex: backups of server config, backup
# of database schema, etc). These intentional+permanent backups should
# NOT be ignored, as we _want_ those to be IN the git tree. Conveniently
# enough, those do not have the below excluded extensions, but instead
# just use their normal extensions like `.conf` and `.mysql`.
**.bak
**.backup
**~

# Ignore other temporary files created by text editors
# (We can add more as we encounter them.)
**.kate-swp

# Ingnore files created by table top simulator
.tts/

# This exclusion is convenient for anyone that wants to run phpMyAdmin from
# their local HTTP server while the Kickback Kingdom website is still
# available for testing. (Ex: you'd put your phpMyAdmin folder at
# `./html/phpmyadmin`, then have your browser navigate to `http://localhost/index.php`
# to access your development version of the Kickback Kingdom website, or
# have your browser navigate to `http://localhost/phpmyadmin/index.php` to
# access phpMyAdmin, all without having to switch out what folder the
# HTTP server is hosting.)
/html/phpmyadmin/**

# Don't store code for composer-based vendor projects.
# These are easily reproduced using composer, so there's no point in
# having our git repo track someone else's code.
/html/vendor/composer/**
!/html/vendor/composer/.gitkeep

