# This folder should remain empty.
/html/beta
!/html/beta/.gitkeep

# _Recursively_ ignore everything in `html/assets/{media,images}`
# except for the directories themselves
# (and the .gitkeep files that persist the directories).
# This will prevent git from trying to add a bunch of image files
# that are going to be removed soon. (These .gitignore rules
# might change once we have a stable way to manage image files.)
/html/assets/media/**
/html/assets/images/**
!/html/assets/media/**/
!/html/assets/images/**/
!/html/assets/media/**/.gitkeep
!/html/assets/images/**/.gitkeep

#this is for a directory to test code and various things outside of version control 
/html/scratch-pad/**
!/html/scratch-pad/.gitkeep

#ignore visual studio folder
/.vs/*