RewriteEngine On

# Redirect HTTP to HTTPS except for localhost
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} !^localhost$
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Redirect /q/ URLs to quest.php
RewriteCond %{REQUEST_URI} ^/q/([^/]+)$
RewriteRule ^(.*)$ /quest.php?locator=%1 [L,E=ORIGINAL_URI:%{REQUEST_URI}]

# Redirect /beta/q/ URLs to /beta/quest.php
RewriteCond %{REQUEST_URI} ^/beta/q/([^/]+)$
RewriteRule ^(.*)$ /beta/quest.php?locator=%1 [L,E=ORIGINAL_URI:%{REQUEST_URI}]

# Redirect /u/ URLs to profile.php
RewriteCond %{REQUEST_URI} ^/u/([^/]+)$
RewriteRule ^(.*)$ /profile.php?u=%1 [L,E=ORIGINAL_URI:%{REQUEST_URI}]

# Redirect /beta/u/ URLs to /beta/profile.php
RewriteCond %{REQUEST_URI} ^/beta/u/([^/]+)$
RewriteRule ^(.*)$ /beta/profile.php?u=%1 [L,E=ORIGINAL_URI:%{REQUEST_URI}]

# Redirect /blog/ URLs to blog.php
RewriteCond %{REQUEST_URI} ^/blog/([^/]+)$
RewriteRule ^(.*)$ /blog.php?locator=%1 [L,E=ORIGINAL_URI:%{REQUEST_URI}]

# Redirect /beta/blog/ URLs to /beta/blog.php
RewriteCond %{REQUEST_URI} ^/beta/blog/([^/]+)$
RewriteRule ^(.*)$ /beta/blog.php?locator=%1 [L,E=ORIGINAL_URI:%{REQUEST_URI}]

# Redirect /blog/blogLocator/postLocator URLs to /blogpost.php
RewriteCond %{REQUEST_URI} ^/blog/([^/]+)/([^/]+)$
RewriteRule ^(.*)$ /blogpost.php?blogLocator=%1&postLocator=%2 [L,E=ORIGINAL_URI:%{REQUEST_URI}]

# Redirect /beta/blog/blogLocator/postLocator URLs to /beta/blogpost.php
RewriteCond %{REQUEST_URI} ^/beta/blog/([^/]+)/([^/]+)$
RewriteRule ^(.*)$ /beta/blogpost.php?blogLocator=%1&postLocator=%2 [L,E=ORIGINAL_URI:%{REQUEST_URI}]

# Redirect /quest-line/ URLs to quest-line.php
RewriteCond %{REQUEST_URI} ^/quest-line/([^/]+)$
RewriteRule ^(.*)$ /quest-line.php?locator=%1 [L,E=ORIGINAL_URI:%{REQUEST_URI}]

# Redirect /beta/quest-line/ URLs to /beta/quest-line.php
RewriteCond %{REQUEST_URI} ^/beta/quest-line/([^/]+)$
RewriteRule ^(.*)$ /beta/quest-line.php?locator=%1 [L,E=ORIGINAL_URI:%{REQUEST_URI}]

# Redirect /g/ URLs to game.php, handling spaces and special characters
RewriteCond %{REQUEST_URI} ^/g/([^/]+)$
RewriteRule ^(.*)$ /game.php?locator=%1 [L,E=ORIGINAL_URI:%{REQUEST_URI}]

# Redirect /beta/g/ URLs to /beta/game.php, handling spaces and special characters
RewriteCond %{REQUEST_URI} ^/beta/g/([^/]+)$
RewriteRule ^(.*)$ /beta/game.php?locator=%1 [L,E=ORIGINAL_URI:%{REQUEST_URI}]


# Lich Landing Page
RewriteCond %{REQUEST_URI} ^/lich/?$
RewriteRule ^(.*)$ /lich-landing.php [L,E=ORIGINAL_URI:%{REQUEST_URI}]

# Beta Lich Landing Page
RewriteCond %{REQUEST_URI} ^/beta/lich/?$
RewriteRule ^(.*)$ /beta/lich-landing.php [L,E=ORIGINAL_URI:%{REQUEST_URI}]

# Lich Set Wiki Page
RewriteCond %{REQUEST_URI} ^/lich/set/([^/]+)$
RewriteRule ^(.*)$ /lich-set.php?locator=%1 [L,E=ORIGINAL_URI:%{REQUEST_URI}]

# Beta Lich Set Wiki Page
RewriteCond %{REQUEST_URI} ^/beta/lich/set/([^/]+)$
RewriteRule ^(.*)$ /beta/lich-set.php?locator=%1 [L,E=ORIGINAL_URI:%{REQUEST_URI}]

# Lich Card Wiki Page
RewriteCond %{REQUEST_URI} ^/lich/card/([^/]+)$
RewriteRule ^(.*)$ /lich-card.php?locator=%1 [L,E=ORIGINAL_URI:%{REQUEST_URI}]

# Beta Lich Card Wiki Page
RewriteCond %{REQUEST_URI} ^/beta/lich/card/([^/]+)$
RewriteRule ^(.*)$ /beta/lich-card.php?locator=%1 [L,E=ORIGINAL_URI:%{REQUEST_URI}]

# Lich Card Edit Page
RewriteCond %{REQUEST_URI} ^/lich/card/edit/([^/]+)$
RewriteRule ^(.*)$ /lich-card-edit.php?locator=%1 [L,E=ORIGINAL_URI:%{REQUEST_URI}]

# Lich Deck Edit Page
RewriteCond %{REQUEST_URI} ^/lich/deck/edit/([^/]+)$
RewriteRule ^(.*)$ /lich-deck-edit.php?locator=%1 [L,E=ORIGINAL_URI:%{REQUEST_URI}]

# Beta Lich Card Edit Page
RewriteCond %{REQUEST_URI} ^/beta/lich/card/edit/([^/]+)$
RewriteRule ^(.*)$ /beta/lich-card-edit.php?locator=%1 [L,E=ORIGINAL_URI:%{REQUEST_URI}]

# Beta Lich Deck Edit Page
RewriteCond %{REQUEST_URI} ^/beta/lich/deck/edit/([^/]+)$
RewriteRule ^(.*)$ /beta/lich-deck-edit.php?locator=%1 [L,E=ORIGINAL_URI:%{REQUEST_URI}]

# Lich Card Search Page
RewriteCond %{REQUEST_URI} ^/lich/card-search/?$
RewriteRule ^(.*)$ /lich-card-search.php [L,E=ORIGINAL_URI:%{REQUEST_URI}]

# Beta Lich Card Search Page
RewriteCond %{REQUEST_URI} ^/beta/lich/card-search/?$
RewriteRule ^(.*)$ /beta/lich-card-search.php [L,E=ORIGINAL_URI:%{REQUEST_URI}]





# treasure-hunt Wiki Page
RewriteCond %{REQUEST_URI} ^/treasure-hunt/([^/]+)$
RewriteRule ^(.*)$ /treasure-hunt.php?locator=%1 [L,E=ORIGINAL_URI:%{REQUEST_URI}]

# Beta treasure-hunt Wiki Page
RewriteCond %{REQUEST_URI} ^/beta/treasure-hunt/([^/]+)$
RewriteRule ^(.*)$ /beta/treasure-hunt.php?locator=%1 [L,E=ORIGINAL_URI:%{REQUEST_URI}]